@import url(reset.css);
@import url(styles/cabecalho.css);
@import url(styles/sobre.css);
@import url(styles/metricas.css);
@import url(styles/talentos.css);
@import url(styles/vagas.css);
@import url(styles/depoimentos.css);
@import url(styles/rodape.css);


:root {
    --corfundo: #FFFFFF;
    --fundo-rosa1: rgba(142, 36, 36, 0.05);
    --preto: #101828;
    --vermelho: #8E2424;
    --fundo-card: rgba(204, 39, 39, 0.03);
    --fundo-card2: rgba(195, 25, 25, 0.03);
    --cinza-primario: #667085;
    --cinza-secundario: #38434F;
    --cinza-titulo: #3A404E;
    --branco-primario: #F9FAFB;
    --cinza-borda:  #EAECF0;
    font-size: 16px;
}

header {
    display: flex;
    width: 98vw;
    height: 4.5rem;
    justify-content: center;
    align-items: center;
}

